'.source.python':
  'ts3lib.banadd()':
    'prefix': 'banadd'
    'body': 'ts3lib.banadd(serverConnectionHandlerID, ipRegExp, nameRegexp, uniqueIdentity, timeInSeconds, banReason, returnCode)'
    #'rightLabelHTML': '<span style="color:lightblue">function</span>'
    'description': 'Adds a new ban.'
    'descriptionMoreURL': 'https://pytson.4qt.de/ts3lib-module.html#banadd'
  'onServerErrorEvent()':
    'prefix': 'onServerErrorEvent '
    'body': 'def onServerErrorEvent(self, schid, errorMessage, error, returnCode, extraMessage):\n\t${1:pass}'
    'rightLabelHTML': '<span style="color:rgb(240,86,86)">event</span>'
    'description': 'This is the global error event. Independent from the return value, all pyTSon plugins will receive this event.'
    'descriptionMoreURL': 'https://pytson.4qt.de/ts3plugin.ts3plugin-class.html#onServerErrorEvent'
  'onClientBanFromServerEvent()':
    'prefix': 'onClientBanFromServerEvent'
    'body': 'def onClientBanFromServerEvent(self, schid, clientID, oldChannelID, newChannelID, visibility, kickerID, kickerName, kickerUniqueIdentifier, time, kickMessage):\n\t${1:pass}'
    'rightLabelHTML': '<span style="color:rgb(240,86,86)">event</span>'
    'description': 'This is called after a client was banned from the server.'
    'descriptionMoreURL': 'https://pytson.4qt.de/ts3plugin.ts3plugin-class.html#onClientBanFromServerEvent'
